* {
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

nav{
    background-color: red;
    font-weight: bold;   
}

nav a {
    text-decoration: none;
    color:white;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(40,1fr);
    grid-template-rows: repeat(3,auto);

    row-gap: 20px;

}

.titulo{
    grid-column: 4/36;
    grid-row: 1/2;

    background-color: rgb(232, 77, 26);
    color: white;
}

.centro{
    grid-column: 5/35;
    grid-row: 2/3;

    border-left: solid 2px rgb(232, 77, 26);
    border-right: solid 2px rgb(232, 77, 26);

    display: grid;
    grid-template-columns: repeat(17,1fr);
    grid-template-rows: repeat(4,auto);
    row-gap: 20px;
}

.centro-escritores1{
    grid-column: 2/17;
    grid-row: 1/3;

    background-color: rgb(255, 217, 204);
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(4,auto);
    row-gap: 10px;
}

.centro-escritores1-titulo{
    grid-column: 1/11;
    grid-row: 1/2;
}

.centro-escritores1-contenido{
    grid-column: 2/10;
    grid-row: 2/3;

}

.centro-escritores2{
    grid-column: 2/17;
    grid-row: 3/5;
    background-color: rgb(255, 217, 204);
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(8,auto);
    row-gap: 10px;
}

.centro-escritores2-titulo{
    grid-column: 1/11;
    grid-row: 1/2;
}

.centro-escritores2-contenido{
    grid-column: 2/10;
    grid-row: 2/3;

}

.centro-escritores3-titulo{
    grid-column: 1/11;
    grid-row: 3/4;
}

.centro-escritores3-contenido{
    grid-column: 2/10;
    grid-row: 4/5;
}

.centro-escritores4-titulo{
    grid-column: 1/11;
    grid-row: 5/6;
}

.centro-escritores4-contenido{
    grid-column: 2/10;
    grid-row: 6/7;
}

.nombre-imagen{
    font-size: 10px;
}

.orden{
    display: flex;
    text-align: justify;
    gap: 20px;
    padding: 20px;
    background-color: white;
}

.orden-parrafo{
    padding-right: 20px;
    border-right: solid 3px;
}

h4{
    background-color: rgb(232, 77, 26);
    color: white;
}

.pie{
    grid-column: 4/36;
    grid-row: 3;

    color: white;
    background-color: rgb(232, 77, 26);
}
